<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./style.css') }}">
    <title>Chat Virtual</title>
</head>
<body>
    <div id="chat-container">
        <div id="message-container"></div>
        <input type="text" id="user-input" placeholder="Digite sua mensagem..." />
        <button onclick="sendMessage()">Enviar</button>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='./script.js') }}"></script>
</body>
</html>
